node_modules
coverage
.idea
out
.yarn
.rdf-test-suite-cache
.eslintcache
documentation
tsconfig.tsbuildinfo
*.log
/.*
!.gitignore
!.husky
!.github

lib/**/*.cjs
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
test/**/*.cjs
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
